/* demo for illustrator CSS */

body{
	background:url(../../img/background/linen.png);
	background-repeat:repeat;
	/* background-size:cover; */
	font-family:'Open Sans', Arial, Helvetica, sans-serif;
}

.no-csstransforms3d .book,

.no-js .book,

.front {
    background: url(../../img/cover-illustrator.jpg);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.09) 25%, rgba(255, 255, 255, 0.1) 100%), url(../../img/cover-illustrator.png), #191919;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.09) 25%, rgba(255, 255, 255, 0.1) 100%), url(../../img/cover-illustrator.png), #191919;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top;	
} 

h1.huge-title{
	font-family:'Bebas Neue', Arial, Helvetica, sans-serif;
	font-size:6em;	
	font-weight: 300;
	color: #555;
	margin-bottom:5px;
}

.content-title.title-2 h2{
	font-family:'Bebas Neue', Arial, Helvetica, sans-serif;
	font-size:4em;
	font-weight: 300;
	color: #555;
	margin-top:30px;
	margin-bottom:30px
}

.content-title.title-3 h3{
	font-family: 'Marvel', Arial, Helvetica, sans-serif;
	color: #555;
	font-size: 1.3em;
	margin-bottom: 40px;
}
span.sub-title{
	color:#aaa;
	font-size:.9em;
	margin-left:4px;
}
p.half-width{
	display: block;
	width: 80%;
	margin-left:4px;
}

.intro-content h1{
	font-family:'Bebas Neue', Arial, Helvetica, sans-serif
	font-style:normal;
	text-transform:uppercase;
	font-weight:normal;
	font-size:2.6em;
}

.intro-content p{
	font-size:14px;
}

.content-title h2{
	font-family:'Bebas Neue', Arial, sans-serif
	text-transform: normal;
}

.book-timeline > li .time-data{
	font-family:'Marvel', Arial, Helvetica, sans-serif;
}

.effect-moveleft.animate .outer-nav a{
	font-family:'Marvel', Arial, Helvetica, sans-serif;
	font-size:1.5em;
	font-weight:600;
}